# Variables

1. Variables are containers that store data. Python has no command for declaring variable
1. You simply assign a value to a variable to create it
1. You use = to assign a value to a variable

In [2]:
age = 21

In [3]:
name = "Marry"

In [4]:
print(age)

21

In [5]:
print(name)

Marry

### Print variables with texts

In [6]:
print(name, "is", age, "years old")

Marry is 21 years old

In [7]:
print("John is older than", name, "He is", age + 5)

John is older than Marry He is 26

### Reassign variable

In [8]:
friendname = name
print(friendname)

Marry

### Multiple variables assignment with same value

In [9]:
mary_age = john_age = anil_age = 22

In [10]:
print("Mary's age: ", mary_age)
print("John's age: ", john_age)
print("Anil's age: ", anil_age)

Mary's age:  22
John's age:  22
Anil's age:  22

### Multiple variables assignment with different values

In [11]:
age, income, savings = 21, 4000, 200

In [12]:
print("Age: ", age)
print("Income: ", income)
print("Savings: ", savings)

Age:  21
Income:  4000
Savings:  200

### Create integer & string variables

In [13]:
age = 21
name = "Marry"

In [14]:
print(age)
print(name)

21
Marry

### Create float & boolean variables

In [15]:
product_price = 3423.45
success = True

In [16]:
print(product_price)
print(success)

3423.45
True

### Checking data types with type() function

In [17]:
type(age)

int

In [18]:
type(name)

str

In [19]:
type(product_price)

float

In [20]:
type(success)

bool

# Data type conversion

Python allows to convert one data type to another

1. **Implicit Conversion:** Conversion done by Python interpreter with programmer’s intervention.
1. **Explicit Conversion:** Conversion that is user-defined that forces an expression to be of specific data type

### Implicit conversion

In [21]:
# Integer type data
income = 200

# Float type data
additional_income = 50.75

# Implicit conversion. Upon addition the resultant variable becomes float type
total_income = income + additional_income

In [22]:
print(total_income)
print(type(total_income))

250.75
<class 'float'>

### Explicit conversion

In [23]:
price = 100
tax = "18"

In [24]:
total_cost = price + tax

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
total_cost = price + int(tax)

In [26]:
print(total_cost)
print(type(total_cost))

118
<class 'int'>

### Type casting

In [27]:
income = 1000.45
print(int(income))

1000

In [28]:
age = 25
print(float(age))

25.0

In [29]:
price = 34.6
str(price)

'34.6'

In [30]:
x, y = 0, 10
print(bool(x))
print(bool(y))

False
True

### print() in python

In [31]:
print("Hello World")

Hello World

In [32]:
print("Hello", "how are you?")

Hello how are you?

In [33]:
fruits = ("avocado", 'apple', 'cherry')
print(fruits)

('avocado', 'apple', 'cherry')

In [34]:
print("Hello", "how are you?", sep = " ^^^ ")

Hello ^^^ how are you?

The sep is an optional parameter. When output is printed, each word is separated by ^^^ characters

In [35]:
print("Hello World")
print("\n")
print("Hello", "how are you?")

Hello World


Hello how are you?

print(‘\n’) gives a new blank line

The backslash “\” is known as escape character. It is used in representing certain whitespaces.

For example ‘\t’ is a tab and ‘\n’ is a new line.

**Invalid use of opening and closing quotes**

In [36]:
print('Welcome, Lets learn python")

SyntaxError: EOL while scanning string literal (945614662.py, line 1)

**Print with concatenation**

In [37]:
print("Welcome" + "To the world of python")

WelcomeTo the world of python

**You cannot concatenate string & number**

In [38]:
print("Your age is " + 34)

TypeError: can only concatenate str (not "int") to str

That’s wrong because adding numbers to strings doesn’t make any sense. You need to explicitly convert the number to string first, in order to join them together.

In [39]:
print("Your age is " + str(34))

Your age is 34

Explicit conversion of a number to string with str() function.

# operators

# Arithmetic operators

1. Addition
1. Subtraction
1. Multiplication
1. Division
1. Modulus
1. Square

### Addition

In [41]:
# Adding two Strings
first_name = "Mike"
second_name = "Anderson"

full_name = first_name + " " + second_name
print(full_name)

Mike Anderson

In [43]:
text = "Age is "
age = "22"

combine = text + age
print(combine)

Age is 22

### Subtraction

In [44]:
# Subtraction two integer variable
price = 120
discount = 35

net_price = price - discount
print(net_price)

85

In [45]:
# Subtracting one integer and one float variable
price = 125
discount = 35.5

net_price = price - discount
print(net_price)

89.5

In [46]:
# Subtracting two Strings
first_name = "Mike"
second_name = "Anderson"

full_name = first_name - second_name
print(full_name)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

When two strings are added, the operator basically concatenates the two strings. 
Subtracting two strings does not make any sense.

### Multiplication

In [47]:
# Multiplication of 2 integer variables
price = 120
quantity = 15

total_cost = price * quantity
print(total_cost)

1800

In [48]:
# Multiplication of string with integer variables
value = "India"
count = 3

result = value * count
print(result)

IndiaIndiaIndia

In [49]:
# Multiplication of 2 string variables
value = "Boat"
count = "3"

result = value * count
print(result)

TypeError: can't multiply sequence by non-int of type 'str'

### Division

In [50]:
# Division using 2 integer variables
total_cost = 2000
quantity = 100

price_pre_unit = total_cost / quantity
print(price_pre_unit)

20.0

In [51]:
# Division using one integer and one folat variables
total_cost = 1560.75
quantity = 100

price_pre_unit = total_cost / quantity
print(price_pre_unit)

15.6075

In [52]:
# cannot divide a string by a number
service = "Airlines"
value = 3

result = service / value
print(result)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

### Floor Division

In [53]:
# division operation to get quotient
total_cost = 13000
quantity = 23

price_pre_unit = total_cost // quantity
print(price_pre_unit)

565

In [54]:
# division operation to get quotient
total_cost = 13000.50
quantity = 23

price_pre_unit = total_cost // quantity
print(price_pre_unit)

565.0

### Modulus

In [55]:
# using modulus operator to find remainder
total_cost = 2700
quantity = 23

price_pre_unit = total_cost % quantity
print(price_pre_unit)

9

In [56]:
# using modulus operator to find remainder
total_cost = 2700.50
quantity = 23

price_pre_unit = total_cost % quantity
print(price_pre_unit)

9.5

### Get square & power output

In [57]:
# squaring varibales
width_of_sqaure = 20

area = width_of_sqaure ** 2
print(area)

400

In [58]:
value = 2
n = 3

# value raised to n
result = value ** n
print(result)

8

# Relational operators

Relational operators are used to compare 2 values and take certain decisions based on the outcome (outcome is is a boolean value).

1. is less than
1. is less than & equal to
1. is greater than
1. is greater than & equal to
1. is equal to
1. is not equal to

In [59]:
mona_age = 35
john_age = 25

In [60]:
mona_age > john_age

True

In [61]:
mona_age < john_age

False

In [62]:
mona_age == john_age

False

In [63]:
mona_age >= john_age

True

In [64]:
mona_age <= john_age

False

In [65]:
mona_age != john_age

True

# Logical operators

Logical operators in Python are used for conditional statements are either True or False

1. **AND:** Returns True if both the operands are True
1. **OR:** Returns True if either of the operands are True

In [66]:
x = True
y = False

In [67]:
x and y

False

In [68]:
x or y

True

# Membership operators

Membership operators tests whether a value is a member of a sequence. The sequence may be a list, a string, a tuple, or a dictionary.

The ‘in’ operator is used to check if a value exists in any sequence object or not

In [69]:
2 in [4, 5, 7, 2]

True

This evaluates to True if it finds a value in the specified sequence object. Otherwise it returns a False.

In [70]:
9 not in [4, 5, 7, 2]

True

A ‘not in’ works in an opposite way to an ‘in’ operator. A ‘not in’ evaluates to True if a value is not found in the specified sequence object. Else it returns a False

# More assignment operators

The assignment operators are used to store data into a variable.

1. a += b is same as a = a + b
1. a *= b is same as a = a * b
1. a /= b is same as a = a / b
1. a %= b is same as a = a % b
1. a //= b is same as a = a // b
2. a == b is same as a = b
3. a **= b is same as a = a ** b

In [ ]:
a=32
b=6

In [10]:
a==b

False

In [12]:
a*=b
a

180

In [13]:
a/=b
a

30.0

In [14]:
a%=b
a

0.0

In [15]:
a//=b
a

0.0

In [16]:
a+=b
a

6.0

In [17]:
a**=b
a

46656.0

# identity operator
### is 
### is not

In [1]:
a=10
id(a)

140727394341960

In [2]:
b=20
id(b)

140727394342280

In [3]:
a is b

False

In [4]:
a is not b

True

In [7]:
A=5
B=5
id(A)

140727394341800

In [8]:
id(B)

140727394341800

In [10]:
A is B

True

In [12]:
x=5.9
y=5.9
x is y

False

In [13]:
id(x)

1952682498960

In [14]:
id(y)

1952682508176

# Bitwise opertor

In [1]:
a=5
b=6

In [2]:
a&b

4

In [3]:
a|b

7

In [4]:
a^b

3

In [5]:
~a

-6

In [6]:
~b

-7

In [7]:
a<<b

320

In [8]:
a>>b

0